:root{
    --blanco: #ffffff;
    --negro: #000000;
    --verde1: #13FF00;
    --verde2: #00FF36;
    --verde3: #00B30E;
    --verde4: #0A8100;
    --azul1: #0000ff;
    --rojo1: #F02721;
    --rojo2: #FF0000;

    /*tamaño fuentes*/
    --pequeño:16px;
    --mediadno:32px;
    --grande:64px;
    --supergrande:128px;
}

html{
    font-size: 33.2%;
}

body{
    font-family: "Press Start 2P", sans-serif;
    font-size: var(--pequeño); /*1rem = 16px*/
}

/*utilidades*/
.contenedor{
    width: 75%;
    margin: 0 auto;
}

.bg-secundario{
    background-color: var(--verde3);
}

.boton{
    background-color: var(--verde1);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 2rem;
    width: 90%;
    border: none;
}

@media (min-width: 480px) {
    .boton{
        width: auto;
    }
}

.centrado{
    text-align: center;
    font-size: 3rem;
}

.youtube{
    font-family: "Robotop", sans-serif;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    background-color: red;
    padding: 0.5rem 2rem;
    border-radius:10rem;
    text-decoration: none;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 4rem;
}

h1,h2,h3{
    text-align: center;
}

fieldset{
    border: none;
}

.sombra{
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
    background-color: white;
    padding: 2rem;
    border-radius: 2.5rem;
}

.titulo{
    color: var(--verde1);
    text-align: center;
    font-size: 5rem;
}

.titulo span{
    color: var(--azul1);
    font-size: 2rem;
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--verde3);
}

@media (min-width: 784px) {
    .navegacion-principal{
        flex-direction: row;
    }
    
}

.textonormal{
    font-family: "Robotop", sans-serif;
}

.subrayado{
    text-decoration: underline;
}

.navegacion-principal a{
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
    padding: 1rem 1rem 1rem 1rem;
}

.navegacion-principal a:hover{
    color: var(--blanco);
    background-color: var(--azul1);
}

/*estilos hero*/
.hero{
    background-image: url(../img/minecraft_shaders_background_960px-529px.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 106rem;
    position: relative;
}

.boton{
    font-size: 4rem;
}

.contenido-hero{
    background-color: rgba(0, 0, 0, 0.35);
    background-color: rgb(0 0 0 / 64%);
    color: var(--blanco);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    font-weight: bold;
}

.informacion{
    display: flex;
}

.micontenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
}

@media (min-width:700px) {
    .micontenido{
        flex-direction: row;
    }
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 1rem 1rem;
}

.contenido h3{
    font-weight: normal;
    color: var(--verde2);
}

.contenido p{
    font-size: 1.8rem;
    line-height: 2;
    text-align: center;
}

.icono{
    height: 15rem;
    width: 15rem;
    background-color: var(--azul1);
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    background-color: rgb(194, 194, 194);
    font-family: "Robotop", sans-serif;
    width: min(100rem, 100%);
    font-weight: bold;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
}

.formulario legend{
    text-align: center;
    font-size: 5rem;
    margin-bottom: 2rem;
    color: var(--rojo2);
}

.campo{
    margin-bottom: 2rem;
    color: var(--negro);
}

.campo1{
    margin-bottom: 2rem;
    font-weight: bold;
}

.campo label{
    text-align: justify;
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 2.5rem;
}

.input-text{
    width: 96%;
    border: none;
    padding: 2rem;
    border-radius: 1rem;
}

footer{
    text-align: center;
}

/*MENSAJES FORMULARIOS*/
.success{
    background-color: #00B30E;
    color: #ffffff;
    width: 50%;
    text-align: center;
}

.error{
    background-color: #F02721;
    color: #ffffff;
}

.mensaje{
    width: 50%;
    text-align: center;
    border-radius: 1rem;
    border: .3rem solid var(--azul1);
    margin-top: 3rem;
    font-size: 3rem;
    text-transform: uppercase;
}

.cabecera{
    padding-bottom: 1rem;
}

.campoCabecera{
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem 0;
    background-color: #00FF36;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid var(--negro);
}
.campo{
    font-size: 3rem;
    margin: 0 2rem;
}

.fila{
    display: grid;
    grid-template-columns: .5fr 2fr 1fr 2fr 3fr 1fr;
}

.fila.impar{
    background-color: white;
}

.fila.par{
    background-color: aliceblue;
}